@layer tailwind-base, primereact, tailwind-utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/lara-light-blue/theme.css' layer(primereact);

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

body {
  @apply font-poppins bg-gray-400;
}

.slick-prev, .slick-next {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}
.slick-prev:before, .slick-next:before {
  color: white;
}